.comment-container{
    padding:  4%  11%;
    margin: 5rem 0;

    .container{
        padding: 2rem 0;
    }
    form{
        border: .1rem solid #ddd;
        border-radius: .4rem;
        width: 40%;
    }
    .form-group{
        margin: 0;
        padding: 0;
    }
    #no-border{
        border: none;
        padding: 2rem;
        width: 100% !important;
    }
    .userprofile-container{
        padding: 1rem;
        background-color: #f5f5f5;
        img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
        .post-comment-btn{
            display: inline-block;
            padding: .8rem 1.6rem;
            background-color: $primary;
            color: #fff;
            border: none;
            font-size: 1.4rem;
            font-weight: 700;
            border-radius: .6rem;
        }
    }
    .usercomment-container{
        border: .1rem solid #ddd;
        margin: 2rem 0;
        .form-group{
            padding: 1.5rem 1rem;
        }
        span{
            font-size: 1.3rem;
            display: inline-block;
            margin: 0 .5rem;
        }
        .username {
            a{
                color : $primary;
            }
        }
    }
    .delete{
        color: rgb(189, 29, 29);
        font-size: 2.4rem;
        border: none;
        background-color: transparent;
    }
}


.border-gray{
    border-top: .1rem solid #ddd;
}
