.hero{
  padding: 0;
}
.hero-bannar {
  padding: 4rem 0;
  background: $primary;
  color: $white;
  font-family: $titillium;
  .heading {
    font-size :5rem;
  }
  .sub-heading {
    font-family: $sanspro;
    font-weight: 400;
  }
}

.content-container{
  width: 100%;
  padding: 2% 11%;
  min-height: 100vh;
  .articles-container{
    flex:  0 1 75%;
    height: 100%;
    
  }
  .sidebar-container{
    flex :0 1 20%;
    height: 100%;
  
  }

  .active-feed{
    border-bottom: .1rem solid $primary;
    color: $primary;
    font-weight: 600;
  }
  .user-feed-container{
    border-bottom: .1rem solid #ddd;
    li{
      display: inline-block;
      margin-right:  2.4rem ;
      font-size: 1.5rem;
    }
  }
}


.pagination-container {
  margin: 2rem 0;
  span {
    display: inline-block;
    @extend .center;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid $primary;
    cursor: pointer;
  }
}

// made responsive this page
@media screen and (max-width: 992px) {
  .content-container {
    padding: 2rem;
    flex-direction: column;
    .articles-container {
      flex: 1 1 100%;
    }
    .sidebar-container {
      flex: 1 1 100%;
    }
  }
}
